@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.timer {
    font-size: 2rem;
    margin: 1rem 0;
}

#historyList li {
    background-color: #f1f1f1;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
}